body {
  background-color: black;
  font-size: 16px;
}

a {
  text-decoration: none !important;
  color:royalblue;
}
a:focus {
  outline: none;
}
a:visited {color:dodgerblue;}
a:hover {color:dodgerblue;}
a:active {color:dodgerblue;}

#skycon {
  padding-left: 30px;
}

.footer {
  padding-top: 5px;
  color: white;
}

.footer>div>p>a {
  color: dodgerblue;
}

.footer>div>p {
  margin: 0px;
}

.credits {
  font-size: 80%
}

.container {
  background-color: white;
  border-radius: 10px;
  margin-top: 5%;
  padding-bottom: 20px;
}

#location {
  font-family: 'Righteous', cursive;
  font-size: 200%;
  margin-bottom: 20px;
  border: 0px;
}

.temp {
  font-family: 'Righteous', cursive;
  font-size: 300%;
}

.summary {
  font-family: 'Righteous', cursive;
  font-size: 150%;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100%; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
